.job-search-filter {
  background-color: white;
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 80px;
  position: absolute;
  bottom: -63px;
  padding: 0 10px;
  border-radius: 8px;
  input[type="text"] {
    width: 100%;
    height: 65%;
    border: 0;
    outline: none;
    padding-left: 5px;
    &:focus {
      border: 0;
      outline: none;
    }
  }
  .first-glass {
    font-size: 1.5rem;
    // margin: 0 auto;
    padding: 0 10px;
    color: var(--violet);
  }
  .fa-filter {
    font-size: 1.5rem;
    padding: 0 10px;
    color: var(--gray--dark);
    cursor: pointer;
  }

  button {
    outline: 0;
    border: 0;
    height: 65%;
    width: 65px;
    border-radius: 8px;
    background-color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:focus {
      outline: 0;
      border: 0;
    }
    & > .fa-magnifying-glass {
      color: var(--gray--light);
      font-size: 1.5rem;
    }
  }
}
